.icon {
  display: block;
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 30px;
  line-height: 50px;
  text-decoration: none;
  color: white;
}

.media-left .icon {
  background-color: #f0974e;
}

.media-right .icon {
  background-color: #35b8c2;
}

pre {
  white-space: pre-wrap;
}

.chat-line {
  max-height: 78.2%;
  overflow: auto;
}

.fa {
  cursor: pointer;
}

.fa:hover {
  color: rgb(75, 73, 73);
}

.fixed {
  bottom: 0;
  position: fixed;
  width: fit-content;
}
