<ng-template #welcome>
  <!-- <div class="welcome"> -->
  <div
    class="vh-100 d-flex flex-column justify-content-center jumbotron jumbotron-fluid p-5 border border-secondary bg-light text-center">
    <div class="container">
      <h1 class="display-3">Chat Talk!</h1>
      <p class="w-100">
        <a href="/signup">新規登録</a>、または<a href="/login">ログイン</a>して始めましょう！
      </p>
    </div>
  </div>
  <!-- </div> -->
</ng-template>

<ng-container *ngIf="currentUser$ | async; else welcome;">
  <div class="container vh-100 border border-top-0">
    <section class="chat-line">
      <div class="d-flex flex-column">
        <div *ngFor="let post of posts$ | async"
          class="list-group-item list-group-item-action flex-column align-items-start border-0 mb-1">
          <div class="d-flex flex-row">
            <div *ngIf="currentUser.uid !== post.user.uid" class="media-left col-1">
              <a href="#" class="icon border rounded text-center">{{ post.user.initial}}</a>
            </div>
            <div class="bg-light col-11 p-3">
              <div class="d-flex justify-content-between">
                <span class="text-secondary">{{ post.user.displayName }}
                  <ng-container *ngIf="post.user.uid === currentUser.uid">
                    <i (click)="post.isEdit = !post.isEdit" class="fa fa-edit ms-2" title="編集"></i>
                    <i (click)="deletePost(post)" class="fa fa-trash ms-2" title="削除"></i>
                  </ng-container>
                </span>
                <small>{{ post.date | postDate }}</small>
              </div>
              <ng-container *ngIf="!post.isEdit">
                <pre class="w-100">{{ post.message }}</pre>
              </ng-container>
              <ng-container *ngIf="post.isEdit">
                <textarea [(ngModel)]="post.message" name="edit-message" class="form-control"></textarea>
                <button (click)="updatePost(post)" class="btn btn-success btn-sm mt-1 me-1">保存</button>
                <button (click)="post.isEdit = false" class="btn btn-warning btn-sm mt-1 me-1">キャンセル</button>
              </ng-container>
            </div>
            <div *ngIf="currentUser.uid === post.user.uid"
              class="media-right col-1 d-flex flex-row justify-content-end">
              <a href="#" class="icon border rounded text-center">{{ post.user.initial}}</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div [class.fixed-bottom]="loginValid" class="container w-100 border-top p-3">
        <form class="chat-form">
          <div class="form-header d-flex flex-row-reverse mb-2">
            <span class="input-group-btn">
              <button (click)="addPost(message); message = '';" class="btn btn-info btn-sm" type="submit" tabindex="2">
                送信
              </button>
            </span>
          </div>
          <div class="input-group">
            <textarea [(ngModel)]="message" name="input-message" class="form-control" placeholder="メッセージを入力"
              tabindex="1">
          </textarea>
          </div>
        </form>
      </div>
    </section>
  </div>
</ng-container>
