<div class="container border vh-100">
  <section>
    <div class="d-flex flex-column">
      <div class="list-group-item list-group-item-action flex-column align-items-start border-0 mb-3">
        <div class="d-flex flex-row row">
          <div class="media-left col-1">
            <a href="#" class="icon border rounded text-center">竹</a>
          </div>
          <div class="bg-light col-11 p-3">
            <div class="d-flex w-100 justify-content-between">
              <h6>竹井 賢治</h6>
              <small>2020/12/01</small>
            </div>
            <div class="w-100">
              ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item list-group-item-action flex-column align-items-start border-0 mb-3">
        <div class="d-flex flex-row row">
          <div class="bg-light col-11 p-3">
            <div class="d-flex w-100 justify-content-between">
              <h6>五十川 洋平</h6>
              <small>2020/12/01</small>
            </div>
            <div class="w-100">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</div>
          </div>
          <div class="media-right col-1">
            <a href="#" class="icon border rounded text-center">五</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="fixed-bottom container w-100 border-top p-3">
      <form class="chat-form">
        <div class="form-header d-flex flex-row-reverse mb-2">
          <span class="input-group-btn">
            <button class="btn btn-info btn-sm" type="submit" tabindex="2">送信</button>
          </span>
        </div>
        <div class="input-group">
          <textarea class="form-control" placeholder="メッセージを入力" tabindex="1"></textarea>
        </div>
      </form>
    </div>
  </section>
</div>
